body {
  overflow-x: hidden;
  margin: 0;
  color: #333;
  min-height: 90vh;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
  background: #fafafa;
  line-height: 1.4; }
  @media (min-width: 800px) {
    body {
      font-size: 16px; } }

p {
  font-size: 1.1em; }

a {
  color: steelblue;
  text-decoration: inherit; }

header {
  position: sticky;
  background: #333;
  color: white;
  min-height: 4em;
  top: 0;
  left: 0;
  padding: 1em;
  z-index: 5; }
  @media (min-width: 800px) {
    header {
      padding: 1em 4em; } }
  header h1 {
    margin-top: 0; }
  header a {
    color: white; }
    header a:hover {
      text-decoration: underline; }

footer {
  min-height: 10vh;
  background: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.no-pad {
  padding: 0; }

.pad-1, .layout-obj, .layout {
  padding: 1em; }

.pad-2 {
  padding: 2em; }

.pad-noMar-1 {
  padding: 1em;
  margin: 0; }

.pad-noMar-2 {
  padding: 2em;
  margin: 0; }

.no-mar, .site-main-title-obj, .site-main-title {
  margin: 0; }

.mar-1 {
  margin: 1em; }

.mar-2 {
  margin: 2em; }

.mar-noPad-1 {
  margin: 1em;
  padding: 0; }

.mar-noPad-2 {
  margin: 2em;
  padding: 0; }

.flex-apart, .header-flex-obj, .header-flex {
  display: flex;
  justify-content: space-between; }

.flex-center, .wp-block-cover-obj, .wp-block-cover {
  display: flex;
  justify-content: center; }

.image-full {
  width: 100%; }

.blog-description-obj, .blog-description {
  margin-top: .2em;
  margin-bottom: 0; }

.layout-obj, .layout {
  margin: auto;
  max-width: 100%; }
  @media (min-width: 800px) {
    .layout-obj, .layout {
      max-width: 1200px; } }

.content-wrap-obj, .content-wrap {
  margin-top: 2em;
  margin-bottom: 2em; }

.wp-block-cover-obj, .wp-block-cover {
  align-items: center;
  background-position: center;
  background-size: cover;
  font-size: 3em;
  border-radius: 3px; }

.wp-block-cover-text-obj, .wp-block-cover-text {
  text-align: center; }

.wp-block-cover-obj, .wp-block-cover {
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  overflow: hidden; }

.header-flex-obj, .header-flex {
  align-items: center; }
  .header-flex-obj ul, .header-flex ul {
    list-style-type: none; }

.menu-obj, .menu {
  display: flex;
  justify-content: space-between;
  min-width: 35vw; }

.wp-block-cover {
  border: 2px solid #dadada; }

.wp-block-cover-text {
  color: white; }

.wp-block-cover {
  background-color: #000; }
