body {
  overflow-x: hidden;
  margin: 0;
  color: #333;
  min-height: 90vh;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  background: #fafafa;
  line-height: 1.4; }

p {
  font-size: 1.1em; }

a {
  color: inherit;
  text-decoration: inherit; }

header {
  position: sticky;
  background: #333;
  color: white;
  min-height: 4em;
  top: 0;
  left: 0;
  padding: 1em 4em; }
  header h1 {
    margin-top: 0; }
  header a {
    color: white; }
    header a:hover {
      text-decoration: underline; }

.site-main-title {
  margin: 0; }

.blog-description {
  margin-top: .2em;
  margin-bottom: 0; }

footer {
  min-height: 10vh;
  background: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.layout {
  margin: auto;
  max-width: 1200px; }

.content-wrap {
  margin-top: 2em;
  margin-bottom: 2em; }

.wp-block-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-position: center;
  background-size: cover;
  border: 2px solid #dadada;
  font-size: 3em; }

.wp-block-cover-text {
  color: white;
  text-align: center; }

.wp-block-cover {
  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-flex ul {
    list-style-type: none; }

.menu {
  display: flex;
  justify-content: space-between;
  min-width: 35vw; }
