@import '../../globals/global';

.blog-wrap {
    @extend .pad-1;
    margin: auto;

    @media(min-width: $bp-med) {
        max-width: 1300px;
    }
}

.blog-title-object {
    @extend .pad-noMar-1;
    text-align: center;
}

.blog-layout-object {
    @extend .flex-apart;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.5;

    @media(min-width: $bp-med) {
        flex-direction: row;
    }

    img {
        @extend .image-full;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.left-side {
    width: 300px;
}

.right-menu-object {
    min-width: 90%;
    padding: .5em;
    top: 120px;
    position: sticky;
    margin: 0em .25em 0 .5em;

    img {
        display: block;
        margin: auto;
        width: 90%;
    }

    @media(min-width: $bp-med) {
        min-width: 200px;
        margin: 1em .25em 0 .5em;

        img {
            width: 195px;
        }
    }

}

.menu-title-object {
    padding-bottom: 1em;
    margin-bottom: 0;
    margin-top:.5em;
}

.menu-link-object {
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: 0;   
}