//Font-family
$font1: "Trebuchet MS",Helvetica,sans-serif;

//colors
$dark-color1: #333;
$dark-color2: black;
$blue-color1: steelblue;
$white-color1: white;
$white-color2: #fafafa;
$gray-color1: #dadada;


//break pts
$bp-med: 800px;

